In [1]:
import pandas as pd
import json
import math
import os

c:\Users\user\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\Users\user\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
c:\Users\user\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
data_file = open("yelp_academic_dataset_review.json",encoding='utf-8')
data = []
for line in data_file:
    data.append(json.loads(line))
df = pd.DataFrame(data)
data_file.close()

In [3]:
df

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
...,...,...,...,...,...,...,...,...,...
6990275,H0RIamZu0B0Ei0P4aeh3sQ,qskILQ3k0I_qcCMI-k6_QQ,jals67o91gcrD4DC81Vk6w,5.0,1,2,1,Latest addition to services from ICCU is Apple...,2014-12-17 21:45:20
6990276,shTPgbgdwTHSuU67mGCmZQ,Zo0th2m8Ez4gLSbHftiQvg,2vLksaMmSEcGbjI5gywpZA,5.0,2,1,2,"This spot offers a great, affordable east week...",2021-03-31 16:55:10
6990277,YNfNhgZlaaCO5Q_YJR4rEw,mm6E4FbCMwJmb7kPDZ5v2Q,R1khUUxidqfaJmcpmGd4aw,4.0,1,0,0,This Home Depot won me over when I needed to g...,2019-12-30 03:56:30
6990278,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5.0,1,0,0,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27
6990279,RwcKOdEuLRHNJe4M9-qpqg,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3.0,10,3,7,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

In [4]:
data_rows = df.shape[0]

In [5]:
def create_chunk(data,start_size,end_size):
    chunk = data.iloc[start_size:end_size]
    return chunk

In [6]:
data_rows

6990280

In [7]:
data_chunks = []
CHUNKS_COUNT = 60
CHUNK_SIZE = math.ceil(data_rows / CHUNKS_COUNT)
start_slice = 0
chunk_slice = CHUNK_SIZE

print(CHUNKS_COUNT)
print(CHUNK_SIZE)
print(start_slice)
print(chunk_slice)

for i in range(CHUNKS_COUNT):
    data_chunks.append(create_chunk(df,start_slice,chunk_slice))
    start_slice += CHUNK_SIZE
    chunk_slice += CHUNK_SIZE

60
116505
0
116505

In [8]:
dataset_total = 0
for i in range(CHUNKS_COUNT):
    dataset_total += data_chunks[i].shape[0]
    print(data_chunks[i].shape)

print(dataset_total, dataset_total == df.shape[0])

(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116505, 9)
(116485, 9)
6990280 True

In [ ]:
if not os.path.exists('data_chunks'):
    os.mkdir('data_chunks')

In [9]:
filepath = 'data_chunks/chunk_'

In [10]:
for itr,chunk in enumerate(data_chunks):
    chunk.to_csv(filepath + str(itr + 1) + '.csv',index=False)

In [11]:
all_dfs = []
for i,chunk in enumerate(data_chunks):
    all_dfs.append(pd.read_csv("data_chunks/" + "chunk_" + str(i + 1) + ".csv"))

df_total = pd.concat(all_dfs)
df_total.shape

(6990280, 9)

In [12]:
df.shape == df_total.shape

True